.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__left {
    img {
      height: 16px;
    }
  }

  &__right {
    display: inline-flex;
    a {
      text-decoration: none;
      color: inherit;
      font-size: 16px;
      user-select: none;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      // &:last-child {
      //   color: var(--primary-color);
      //   font-weight: bold;
      // }
    }
  }
}
