.offer {
  margin-top: 4rem;
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    text-align: center;

    &-item {
      margin-top: 2rem;
      img {
        box-shadow: 0px 0px 4px 0px #4c3c854f;
        border-radius: 50%;
        height: 200px;
      }
      p {
        font-size: 24px;
        margin: 1rem 0;
        font-weight: bold;
        color: var(--primary-font-color);
      }
    }
  }
}
