:root {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(180deg, #e9e4ff 0%, #fefdff 100%);
  background-repeat: no-repeat;
  --primary-color: #6c5db6;
  --primary-font-color: #4c3c85;
}

* {
  margin: 0rem;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  overflow: hidden;
}

@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    padding: 1rem !important;
    overflow-y: auto;
  }

  .logo {
    height: 40px;
  }
  .container-ltr {
    &__left {
      .intro-message {
        font-size: 20px !important;
      }
      p {
        font-size: 14px;
      }
    }
    &__right {
      img {
        height: 160px !important;
      }
    }
  }

  .about-mobile {
    margin-top: 0 !important;
  }

  .heading {
    font-size: 22px;
  }

  .gallery-mobile {
    flex-direction: column;
    gap: 1rem;
  }

  .imageSlides {
    height: 280px !important;
    width: 92vw !important;

    .gallery-img {
      height: 280px !important;
      width: 92vw !important;
    }
  }

  .container-rtl {
    justify-content: space-between;
    &__left {
      .timer-img {
        height: 140px;
      }
      .rocket-girl-img {
        height: 160px;
      }
    }
    &__right {
      p {
        font-size: 14px;
      }
      .timer-p {
      }
    }
  }

  .offer {
    &__list {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
      &-item {
        img {
          height: 100px !important;
        }
        p {
          font-size: 16px !important;
        }
      }
    }
  }
}
